<div>
  <h4>Pick a Breed</h4>
  <form>
    <select>
      <option value="Kacheeky">Kacheeky</option>
      <option value="Kacheeky">TesterValue</option>
    </select>
    <button (click)='setBreedForCeboCreation()'>Submit</button>

  </form>

  <form #newCebopet='ngForm' *ngIf="breed">
    Name:<input type = "text" name="name" ngModel/>
    Gender:

    <select name="gender" ngModel>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
      <option value="NONBINARY">Non-binary</option>
      <option value="GENDERFLUID">Gender fluid</option>
      <option value="OTHER">Other</option>
    </select>
    <!-- Breed:
    <select>
      <option value = "Kacheeky" ngModel>Kacheeky</option>
    </select> -->

      <button (click)='createCebopet(newCebopet)'>Submit</button>
  </form>
</div>
